:root {
  /* see:  https://neumorphism.io/ */
  --neu-color: #c5ebec;
  --neu-shadow-color: #a7c8c9;
  --neu-highlight-color: #e3ffff;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url("/fonts/PoltawskiNowy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Poltawski Nowy";
  margin: 0;
  padding: 0;
}
html,
body {
  background: var(--neu-color);
}


.neu {
  border-radius: 40px;
  background-color: var(--neu-color);
  box-shadow: 3px 3px 10px var(--neu-shadow-color),
    -3px -3px 10px var(--neu-highlight-color);
}

.neu-invert {
  box-shadow: inset 3px 3px 10px var(--neu-shadow-color),
              inset -3px -3px 10px var(--neu-highlight-color);
}

.neu-animated-rise {
  scale: 0.9;
  box-shadow: none;
  animation: neu-rise-animation 800ms ease-in-out forwards;
}
@keyframes neu-rise-animation {
  100% {
    scale: 1;
    box-shadow: 3px 3px 10px var(--neu-shadow-color),
    -3px -3px 10px var(--neu-highlight-color);
  }
}

.neu-animated-fall {
  animation: neu-fall-animation 800ms ease-in-out forwards;
}
@keyframes neu-fall-animation {
  100% {
    scale: 0.9;
    box-shadow: none;
  }
}
